/* .transition {
    display: inline;
    padding: 10px 15px;
    background-color: orange;
    text-decoration: none;
    transition: all 0.5s ease;
}

.transition:hover {
    color: white;
    background-color:yellow;
    border-radius: 20px;

}
 */


.box {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    background-color: yellow;
    box-shadow: inset 0px 0px 7px 10px blue;
    
     }

.box {
box-shadow: -70px -70px 0 0 violet,
    70px -70px 0 0 red, 
    70px 70px green, 
    -70px 70px blue;
    transition: all 0.5s ease;
}

.box:hover {
    border-radius: 30px;
    box-shadow: 70px -70px 0 0 violet,
    70px 70px 0 0 red, 
    -70px 70px green, 
    -70px -70px blue;
}

